.titulo{
    color: green;
    background-color: greenyellow;
    height: 150px;
}

p{
    color: white;
    background-color: black;
    height: 300px;
}

button{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}